/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family:  Fira Sans;
    color: white;
    font-weight: normal;
    font-size: 50px;
    background-color: maroon;
}

.center{
    text-align: center;
    
}

.playerbackground {
  background-color: maroon;
  color: white;
  font-family:  Fira Sans;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutjingle {
  background-color: maroon;
  color: white;
  font-family:  Fira Sans;
  font-weight: normal;
  position: absolute;
  right: 400px;
  top: 40px
}

.aboutus {
  background-color: maroon;
  color: white;
  font-family:  Fira Sans;
  font-weight: normal;
  position: absolute;
  right: 200px;
  top: 40px
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  color:white;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.white {
  color:white;
}

.descript{
    color:white;
    font-size:25px;
    text-align: center;
}